/* Images
------------------------------------- */
.vince-image {
  height: 300px;
  float: right;
  padding-left: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-right: -15vw !important; width: 13vw !important;
/*   margin: 8rem; */
}

.vince-fundraising {
  width:100%;
  height:50%;
  object-fit:cover;
  /* object-position:50% 50%; */
}

.anne-image {
/*   position: fixed;  */
/*   width: 285px; */
  height: 425px;
  float: left;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-left: -20vw !important; width: 17vw !important;
}


.salford-hope-building {
  /* background-size: cover; */
  width: 100%;
  height: 50%;
  object-fit:cover;
}

.walton-centre-sid-watkins {
  width: 100%;
  height: 50%;
  object-fit:cover;
}

/* Captions
------------------------------------- */
figcaption {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  width: auto;
  font-size: 0.75em;
  font-weight: lighter;
 }
/*
 .vince-caption {
   border: 1px #cccccc solid;
   float:right;
   margin-right: -15vw !important; width: 11.5vw !important;
   margin: auto;
   width: auto;
   font-size: 0.75em;
   font-weight: lighter;
   /* max-width: 265px; */
   /* padding-bottom: 10px; */
   /* margin-bottom: 50px; */
   /* margin-top: 25px; */
 }
/*
 .anne-caption {
   border: 1px #cccccc solid;
   float:left;
   margin-left: -20vw !important; width: 15.5vw !important;
   margin: auto;
   width: auto;
   font-size: 0.75em;
   font-weight: lighter;
   /* max-width: 265px; */
   /* padding-bottom: 10px; */
   /* margin-bottom: 50px; */
   /* margin-top: 105px; */
/* Global
------------------------------------- */
/* .header-images { */
/*   width: 100%; */
/*   background-size: cover; */
/* } */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
font-size:3rem;
margin-top: 0rem;}

/* Audio
------------------------------------- */

.vince-audio {
 float:right;
 padding-left: 30px;
 padding-bottom: 25px;
 /* padding-top: 10px; */
 margin-top: 25px;
 margin-right: -15vw !important; width: 13vw !important;
}

 .anne-audio {
float:left;
margin-left:-20vw !important; width: 17vw !important;
padding-right: 30px;
/* padding-top: 20px; */
margin-top: 60px;
/* margin-bottom: 5px; */
/* margin-left:-20vw !important; width: 17vw !important; */
/* padding-bottom: 20px; */
}


/* Global */
blockquote {
  font-size: 20px;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #6cae75ff;
  line-height:1.6;
  position: relative;
  background:#F8F8F8;
}

figcaption {
  border: 1px;
  border: solid #6cae75ff;
  font-size:15px;
  font-style: normal;
}

hr {
  width:50%;
  border-top: 3px solid rgba(0,0,0,.1);
  border-top-width: 3px;
}
