/* Images */

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.ms-cover {
  width:100%;
  height:50%;
  object-fit:cover;
  }
}

main {
  background-color: #f3f5f7;
}
