/* Colour palette
--midnight-green-eagle-green: #084c61ff;
--forest-green-crayola: #6cae75ff;
--saffron: #e3b505ff;
--cadet: #4f6d7aff;
--terra-cotta: #ed6a5aff;
--white: #ffffff
 */

/* Global */
.content-wrap{
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h1 {
font-size: 2.5rem;
}

h3 {
font-size: 1.5rem;
}

p {
  font-size: 22px;
  padding-top: 5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
  margin-top: 1rem;
}

hr {
  color: #fefae0;
}

/* Navbar */

.navbar {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #6cae75ff; */
  /* color: #fefae0; */
  height: auto;
}
li {
  float: right;
  /* border-right: 1px solid #4f6d7aff; */
}

li a, .dropbtn {
  display: inline-block;
  color: #fefae0;
  font-size: 22px;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #4f6d7aff;
}

body {
  background: #F5F5F5;
  color: 	#080808;
  /* font-family: "Baloo 2", cursive; */
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}
/* Introduction */

header {
  background-color: #4f6d7aff;
  color: #fefae0;
}

blockquote {
  font-size: 20px;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 30px;
  border-left:8px solid #6cae75ff;
  line-height:1.6;
  position: relative;
  background:#F8F8F8;
}

/* Responsive */

@media screen and (min-width:750px){
  header, body, footer {
    text-align: center;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }

  .contact-list a {
    padding: 5px;
  }

/* Footer and contact details */
footer {
  background-color: #4f6d7aff;
  color: #fefae0;
/* text-align: center; */
}

/* Misc */
